<body>
	<div class="signin signup">
	
		<form class="signin signup" action="/signup" method="post">
			{{ template "errbox" .Error }}
	
			<div class="inputs">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" value="{{ .Username }}">
		
				<label for="password">Password</label>
				<input type="password" id="password" name="password">

				<label for="token">Invite Token</label>
				<input type="password" id="token" name="token">
			</div>
	
			<div class="buttons">
				<button type="submit" class="signin signup primary">Sign up</button>
			</div>
		</form>
	</div>
	
	{{ template "footer" }}
</body>
