<nav>
	<a href="/posts">
		<h2>
			<span class="icon-home"></span>
			<span class="sitename">
				{{ with .Config.SiteName }}
				{{ . }}
				{{ else }}
				smolboard
				{{ end }}
			</span>
		</h2>
	</a>

	{{ template "search" . }}

	{{ with .Username }}
	<form class="user seamless" method="get" action="/posts">
		<button type="submit" name="q" value="@{{.}}">
			<h4>
				<span class="username valid">{{ . }}</span>
				<span class="icon-user"></span>
			</h4>
		</button>
	</form>
	{{ else }}
	<form class="user seamless" method="get" action="/signin">
		<button type="submit">
			<h4>
				<span class="username">Sign in</span>
				<span class="icon-lock"></span>
			</h4>
		</button>
	</form>
	{{ end }}
</nav>
