nav {
	display: flex;
	margin-bottom: 0;
}

nav h2 {
	padding: 0;
	margin: calc(var(--universal-margin) / 2);
	margin-right: 0;
}

nav h2 a {
	padding: 0 8px;
	height: 100%;
}

nav div.user {
	margin: calc(var(--universal-margin) / 2);
	margin-left: 0;
}

span.sitename {
	padding: 0;
}

@media (max-width: 600px) {
	span.sitename {
		display: none;
	}
}
