nav {
	display: flex;
	margin-bottom: 0;
}

nav span[class^="icon-"] {
	width:  0.5em;
	height: 0.5em;
}

nav h2, h4 {
	padding: 0;
	margin: 0;
}

nav > a, nav > a:visited {
	color: var(--fore-color) !important;

	padding: 0 8px;
	margin:  calc(var(--universal-margin) / 2);
	margin-right: 0;

	display: flex;
	align-items: center;
}

nav .user button {
	padding: var(--universal-margin);
	margin: calc(var(--universal-margin) / 2);
	margin-left: 0;
	background-color: transparent;
}

nav .user button:hover {
	background-color: var(--nav-hover-back-color);
}

span.sitename, span.username {
	padding: 0;
}

@media (max-width: 600px) {
	span.sitename, span.username {
		display: none;
	}
}
