div.signin {
	margin: auto;
	width: 100%;
	max-width: 400px;
    justify-content: center;
}

form.signin {
	display: flex;
	flex-direction: column;
	padding-right: calc(2 * var(--universal-padding));
}

form.signin .inputs {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-row-gap: var(--universal-margin);
	justify-items: stretch;
	align-items: baseline;
}

form.signin .inputs label {
	text-align: center;
}

form.signin .inputs input {
	width:  100%;
	margin: 0;
}

form.signin div.buttons {
	display: flex;
	flex-direction:  row;
	justify-content: space-between;

	margin-top:  calc(1 * var(--universal-margin));
    margin-left: var(--universal-margin);
}

form.signin .signin,
form.signin .signup {
	margin: 0;
}
