.search-input {
	flex: 1;
	display: flex;
}

.search-input > * {
	margin: calc(var(--universal-margin) / 2);
}

.search-input > input[type="text"] {
    width: 100%;
	max-width: 350px;
	margin-right: 0;
}
