:root {
	--universal-border-radius: 4px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body > *:not(footer) {
	flex: 1;

	display: flex;
	flex-direction: column;
}

form.seamless {
    background: inherit;
	color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

span[class^='icon-'] {
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: inline-flex;
}

[type="checkbox"].modal+div .card .modal-close {
	padding: calc(var(--universal-padding) / 2);
}

.content {
	display: flex;
	flex: 1;
	flex-direction: row;
}

aside {
	width: 100%;
	min-width: 325px;
	max-width: 325px;
}

.single {
	margin:  0 auto !important;
	width:     100%;
	max-width: 800px;
}

aside > *,
.single > * {
	background: var(--form-back-color);
	color: var(--form-fore-color);

	border: .0625rem solid var(--form-border-color);
	border-radius: var(--universal-border-radius);

	margin:  var(--universal-margin);
	padding: calc(2 * var(--universal-padding)) var(--universal-padding);
}

aside > * button.small,
aside > *  [type="submit"].small,
aside > * a[role="button"].small {
	margin:  calc(0.5 * var(--universal-margin))  var(--universal-margin);
	padding: calc(0.5 * var(--universal-padding)) calc(1.5 * var(--universal-padding));
}

.sensitive {
	transition: linear 80ms !important;
	opacity: 0.35;
}
.sensitive:hover {
	opacity: 1;
}

aside                span[class^="icon-"],
div[role="dialog"]   span[class^="icon-"],
label[role="button"] span[class^="icon-"] {
	width:  1em;
	margin: 0 var(--universal-margin);
}

aside                span:last-child,
div[role="dialog"]   span:last-child,
label[role="button"] span:last-child {
	margin-right: var(--universal-margin);
}

aside form {
	display: flex;
	flex-direction: column;
}

.single legend,
aside > * p,
aside > * legend,
aside form .tag,
aside div.table {
	padding: 0 var(--universal-padding);
	margin:  0 var(--universal-margin);
}

aside > * legend {
	margin-bottom: calc(var(--universal-margin) / 2);
}

div div.table {
	display: grid;
	grid-column-gap: var(--universal-margin);
	grid-template-columns: auto 1fr;

	margin: 0 var(--universal-margin);
}

div div.table span:nth-child(odd) {
	color: var(--secondary-fore-color);
	text-align: right;
}

@media (max-width: 600px) {
	.content {
		flex-direction: column-reverse;
		justify-content: flex-end;
	}
	main.posts, main.post {
		margin-left:   var(--universal-margin) !important;
		margin-bottom: 0 !important;
	}
	/* main.row { */
	/* 	flex-flow: column; */
	/* } */
	aside {
		/* stretch all the way */
		max-width: none !important;
	}
}

form.section.seamless > legend {
    padding: 0 var(--universal-margin);
}

form.section.seamless {
    display: flex;
    flex-direction: column;
}

label.dialog-button {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	margin: calc(var(--universal-margin) / 2) 0;
	padding: var(--universal-padding) calc(2 * var(--universal-padding));

	border-radius: var(--universal-border-radius);
	transition: background-color 0.3s;
}

label.dialog-button:hover {
    background-color: var(--button-hover-back-color);
}

label.dialog-button > *:first-child {
    margin-right: var(--universal-margin);
}

/* Force overlay scrolling on container blocks. */
body, div, main, aside { overflow: overlay }

div.busy-overlay {
	display: none;
	transition: linear 75ms backdrop-filter;
}
/* Show the overlay on submit click */
button.trigger-busy:focus        div.busy-overlay,
button.trigger-busy:focus-within div.busy-overlay {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	width:  100vw;
	height: 100vh;
	top:  0;
	left: 0;
	z-index: 999999;

	backdrop-filter: brightness(90%) blur(3px);

	/* Disallow all mouse events. */
	cursor: not-allowed;
}

div.busy-overlay div.spinner {
	--spinner-back-color: var(--back-color);
	--spinner-fore-color: var(--fore-color);
	width:  3rem;
	height: 3rem;
	border-width: .5rem;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-track {
	margin: calc(0.8 * var(--universal-margin)) 0;
	background-color: transparent;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
	background-color: transparent;

	width:  var(--universal-margin);
	border: calc(0.2 * var(--universal-margin)) solid transparent !important;
	border-radius: 9999px;
}

/* This is required to fake the scrollbar's background with padding */
*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 2px transparent;
}
*::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 0 2px var(--fore-color);
}
*:hover::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 2px var(--modal-overlay-color);
}
