:root {
	--universal-border-radius: 4px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body > main {
	flex: 1;
}

form.seamless {
    background: inherit;
	color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

span[class^='icon-'] {
    background-position: center;
    background-repeat: no-repeat;
    height: 0.5em;
    width: auto;
    margin: auto;
    display: inline-flex;
	vertical-align: text-bottom;
}
