:root {
	--universal-border-radius: 4px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body > main {
	flex: 1;
}

form.seamless {
    background: inherit;
	color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

span[class^='icon-'] {
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: inline-flex;
}

.content {
	display: flex;
	flex: 1 1; /* Expand right-most elem */
	flex-direction: row;
}

aside {
	width: 100%;
	max-width: 325px;
}

aside > * {
	background: var(--form-back-color);
	color: var(--form-fore-color);

	border: .0625rem solid var(--form-border-color);
	border-radius: var(--universal-border-radius);

	margin:  var(--universal-margin);
	padding: calc(2 * var(--universal-padding)) var(--universal-padding);
}

aside > * button.small,
aside > * a[role="button"].small {
	margin: calc(0.5 * var(--universal-margin)) var(--universal-margin);
	text-align: left;
}

aside span[class^="icon-"] {
	width:  1em;
	margin: 0 var(--universal-margin);
}

aside form {
	display: flex;
	flex-direction: column;
}

aside > * legend,
aside form .tag,
aside div.table {
	padding: 0 var(--universal-padding);
	margin:  0 var(--universal-margin);
}

aside > * legend {
	margin-bottom: calc(var(--universal-margin) / 2);
}

aside div.table {
	display: grid;
	grid-column-gap: var(--universal-margin);
	grid-template-columns: auto 1fr;
}

aside div.table span:nth-child(odd) {
	color: var(--secondary-fore-color);
	text-align: right;
}

@media (max-width: 600px) {
	.content {
		flex-direction: column-reverse;
	}
	main {
		margin-left: var(--universal-margin) !important;
	}
	aside {
		/* stretch all the way */
		max-width: none !important;
	}
}
