.uploader {
	display: flex;
	flex-direction: column;
}

.uploader input.small {
	margin: 0;
}

.uploader select#permission {
	margin:  var(--universal-margin) 0;
	padding: var(--universal-padding);
}

.uploader input[type="file"]::-webkit-file-upload-button {
	background: var(--button-back-color);
	padding: calc(1 * var(--universal-padding)) calc(1.5 * var(--universal-padding));

	border:  none;
	border-radius: var(--universal-border-radius);
}

.logout {
	display: flex;
	align-items: center;
}

main.posts {
	margin-top:  var(--universal-margin);
}


main.posts .post.card {
	width: auto;
	margin-left: 0;
	margin-top:  0;
	transition: linear 75ms;
}

main.posts .post.card:hover {
	-webkit-filter: brightness(90%) contrast(110%);
}

main.posts .post a {
	line-height: 0;
	display: flex;
	justify-content: center;
}

main.posts .post a > * {
	object-fit: cover;
	height: 200px;
	width: auto;
	max-width: 500px;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 600px) {
	main.posts .post a > * {
		height: 300px;
		max-width: 400px;
	}
	.gallery aside > *:first-child {
		margin-top: 0;
	}
}
