.paginator > .page-buttons {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.paginator > .page-buttons > * {
    white-space: nowrap;
    padding: calc(0.5 * var(--universal-padding)) calc(1.5 * var(--universal-padding));
}

.paginator button.next-page,
.paginator button.last-page {
	flex: 1;
	color: var(--fore-color);
}

.paginator button:disabled {
	color: var(--secondary-fore-color);
}

.paginator > .page-buttons > .page-input {
	color: var(--secondary-fore-color);
    border: none;
    background: inherit;

	padding-right: 0;

    width: 20%;
    text-align: right;
}

.uploader {
	display: flex;
	flex-direction: column;
}

.uploader input.small,
.uploader input[type="file"],
.uploader select#permission {
	margin: calc(0.5 * var(--universal-margin));
}

.uploader select#permission {
	padding: calc(0.5 * var(--universal-padding)) var(--universal-padding);
}

.uploader input[type="file"]::-webkit-file-upload-button {
	color: var(--fore-color);
	background: var(--button-back-color);
	padding: calc(1 * var(--universal-padding)) calc(1.5 * var(--universal-padding));

	border:  none;
	border-radius: var(--universal-border-radius);
}

.logout {
	display: flex;
	align-items: center;
}

main.posts {
	margin-top: var(--universal-margin);
	align-content: baseline;
}

main.posts .gallery-post.card {
	width: auto;
	max-width: calc(100% - var(--universal-margin));

	margin-left: 0;
	margin-top:  0;

	transition: linear 75ms;
}

main.posts .gallery-post.card:hover {
	filter: brightness(90%) contrast(110%);
}

main.posts .gallery-post a {
	line-height: 0;
	display: flex;
	justify-content: center;
}

main.posts .gallery-post a > * {
	object-fit: cover;
	height: 200px;
	width: auto;
	max-width: 350px;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 600px) {
	main.posts .gallery-post a > * {
		height: 250px;
		max-width: 400px;
	}
	.gallery aside > *:first-child {
		margin-top: 0;
	}
}

p.no-token-msg {
    color: var(--secondary-fore-color);
}

form.add-token {
    flex-direction: row;
    flex: 1 0;
	margin-top: var(--universal-margin);
}

form.add-token input[type="number"] {
	width: 50%;
}

form.add-token input.small {
    margin: calc(0.5 * var(--universal-margin));
}

form.add-token p.info {
	flex: 1;
	white-space: nowrap;

	display: flex;
	flex-direction:  column;
	justify-content: center;
}

form.add-token p.info span.range {
    color: var(--secondary-fore-color);
	font-size: small;
}

form.add-token .form-group {
	display: flex;
	justify-content: flex-end;
}

div.token-list div[role="dialog"] h3 {
	padding: calc(2 * var(--universal-padding));
}

div.token-list .token-actions button {
    text-align: start;
}

div.token-list > div.token {
	margin: 0 var(--universal-margin);
}

div.token-list > div.token > label {
	display: flex;
	justify-content: space-between;

	margin:  calc(var(--universal-margin) / 2) 0;
	padding: calc(var(--universal-padding) / 2) var(--universal-padding);

	border-radius: var(--universal-border-radius);

	transition: background-color 0.3s;
	background-color: var(--button-back-color);
}

div.token-list > div.token > label:hover {
    background-color: var(--button-hover-back-color);
}
