<body>
	<div class="gallery">
		{{ template "nav" . }}
	
		<div class="content">
			<aside>
				<div class="gallery-info">
					<legend>Gallery Information</legend>
	
					<div class="gallery-table table">
						<span>Total</span>
						<span id="total">{{ humanizeNumber .Total }}</span>
	
						<span>Size</span>
						<span id="size">{{ humanizeSize .Sizes }}</span>
					</div>
				</div>
	
				{{ if (gt .Total PageSize) }}
				<form class="paginator" action="/posts">
					<legend>Gallery Pages</legend>

					<input type="hidden" name="q" value="{{ .Query }}">

					{{ template "pager" . }}
				</form>
				{{ end }}
	
				{{ with .User }}
				<div class="search-user-info">
					<legend>User Information</legend>
	
					<div class="user-table table">
						<span>Joined</span>
						<time datetime="{{ htmlTime .Joined }}" id="join-time">
							{{ humanizeTime .Joined }}
						</time>
	
						<span>Permission</span>
						<span id="permission">{{ .Permission }}</span>
					</div>
				</div>
				{{ end }}
	
				{{ with .AllowedUploadPerms }}
				<form class="uploader"
					  action="/posts" method="post"
					  enctype="multipart/form-data"
				>
					<legend>Upload Files</legend>
	
					<input  type="file" name="file" accept="{{ $.AllowedTypes }}" multiple>
					<select id="permission" name="p">
						{{ range . }}
						<option value="{{ .StringInt }}">{{ . }}</option>
						{{ end }}
					</select>
	
					<button class="upload small" type="submit">
						<span>Upload</span>

						{{/* Hidden overlay to prevent clicks */}}
						<div class="uploading-overlay">
							<div role="progressbar" class="spinner primary"></div>
						</div>
					</button>
				</form>
				{{ end }}
	
				{{ if .IsMe }}
				<form class="user-actions" action="/signout" method="post">
					<a role="button" href="/settings" class="small">Settings</a>
					<button type="submit" id="logout" class="small">Sign out</button>
				</form>
				{{ end }}
			</aside>
	
			<main class="posts row">
				{{ range .Posts }}
				<figure class="gallery-post card">
					<a href="/posts/{{.ID}}">
						<img alt="" {{ $.SizeAttr . }}
							 src="{{ $.Session.PostThumbURL . }}"
							 style="background-image: url('{{ $.InlineImage . }}')"
						>
						</object>
					</a>
				</figure>
				{{ end }}
			</main>
		</div>
	</div>
	
	{{ template "footer" }}
</body>
