<div class="gallery">
	{{ template "nav" . }}

	<div class="content">
		<aside>
			<div class="gallery-info">
				<legend>Gallery Information</legend>

				<div class="gallery-table table">
					<span>Total</span>
					<span id="total">{{ humanizeNumber .Total }}</span>

					<span>Size</span>
					<span id="size">{{ humanizeSize .Sizes }}</span>
				</div>
			</div>

			{{ with .User }}
			<div class="search-user-info">
				<legend>User Information</legend>

				<div class="user-table table">
					<span>Joined</span>
					<time datetime="{{ htmlTime .Joined }}" id="join-time">
						{{ humanizeTime .Joined }}
					</time>

					<span>Permission</span>
					<span id="permission">{{ .Permission }}</span>
				</div>
			</div>
			{{ end }}

			{{ with .AllowedUploadPerms }}
			<form class="uploader"
				  action="/posts" method="post"
				  enctype="multipart/form-data"
			>
				<input  type="file"     name="file" multiple>
				<select id="permission" name="p">
					{{ range . }}
					<option value="{{ .StringInt }}">{{ . }}</option>
					{{ end }}
				</select>

				<input type="submit" value="Upload" class="small">
			</form>
			{{ end }}

			{{ if .Username }}
			<form class="logout" action="/signout" method="delete">
				<button type="submit" class="small">Sign out</button>
			</form>
			{{ end }}
		</aside>

		<main class="posts row">
			{{ range .Posts }}
			<figure class="post card">
				<a href="/posts/{{.ID}}">
					{{ if (isImage .ContentType) }}
					<img alt="Thumbnail" {{ $.ImageSizeAttr . }}
						 src="{{ $.Session.PostThumbURL . }}"
						 style="background-image: url('{{ $.InlineImage . }}')">
	
					{{ else if (isVideo .ContentType) }}
					<video preload="metadata" src="{{ $.InlineImage . }}#t=0.1" />
	
					{{ else }}
					<div>
						<p><span class=".icon-link"></span></p>
						<p>{{ .ContentType }}</p>
					</div>
	
					{{ end }}
				</a>
			</figure>
			{{ end }}
		</main>
	</div>
</div>

{{ template "footer" }}
