.post aside form .tag {
	background: inherit;
	text-align: start;
	color: var(--a-link-color);
}
.post aside form .tag:hover {
	text-decoration: underline;
}

.post aside form .add {
	height: 2em;
}

.post aside div.post-share {
	display: flex;
	flex-direction: column;
}

.post aside div.post-promote button {
	padding: calc(0.5 * var(--universal-padding)) calc(1.5 * var(--universal-padding));
}

.post main {
	margin: var(--universal-margin);
	margin-left:   0;

	height: 100%;
	line-height: 0;

	border: .0625rem solid var(--form-border-color);
	border-radius: var(--universal-border-radius);
}

.post main > * {
	width: 100%;
}

.post > .content > aside button {
	text-align: left;
}
